body{
  background-color:aqua;
  margin: 0;
}
.top-box{
background-color: blue;
width: 200px;
height: 200px;
margin:0;
}
.middle-box{
background-color: red;
width: 200px;
height: 200px;
position: absolute;
top: 200px;
left: 200px;
}
.bottom-box{
background-color: green;
width: 200px;
height: 200px;
position: absolute;
top:400px;
left: 400px;

}
.navbar {

  position: sticky;
  top: 10px;
  z-index: 100;
}
